.col-8 img {
  height: 100px;
  width: auto;
}
.link:hover {
  text-decoration: none;
  color: black;
}
.font-size {
  font-size: 1rem;
}
.link {
  color: black;
}
.wrap {
  width: 20rem;
}
#nav-items h3:hover {
  font-weight: bold;
  border-bottom: rgb(156, 72, 156) 5px solid;
  transition: 100ms;
}
#nav-items a {
  text-decoration: none;
  color: rgb(156, 72, 156);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info {
  height: 7vh;
}
#main {
  background: url("./background-tile.png") #ffffff59;
}
footer {
  height: 7vh;
}
html {
  background-color: rgb(17, 17, 17);
}
body {
  font-family: "Poppins", sans-serif;
}
img {
  height: 5vh;
  width: auto;
}
