.col-8 img {
  height: 100px;
  width: auto;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info {
  height: 7vh;
}
#main {
  background: url("./background-tile.png") #ffffff59;
}
footer {
  height: 7vh;
}
html {
  background-color: rgb(17, 17, 17);
}
body {
  font-family: "Poppins", sans-serif;
}
.hidden {
  display: none !important;
}
.selected {
  background-color: black;
  color: white;
}
.task {
  transition: height 0.2s;
  height: 8vh;
}
.task:hover .hidden {
  display: inherit !important;
}
.task:hover {
  height: 13vh;
}
.task:hover .nothidden {
  transform: rotate(180deg);
  transition: 0.2s;
  transform-origin: center;
}
.card {
  border-radius: 2px !important;
}
.btn {
  border-radius: 2px !important;
}
img {
  height: 4vh;
  width: auto;
}
#portfolio-text:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
#about-text:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
